<%- partial("_header") %>
<main class="about">
  <h1>this is the second page</h1>
  <ul class="about__list">
    <li class="about__list-item">fisrt</li>
    <li class="about__list-item">second</li>
    <li class="about__list-item">third</li>
    <li class="about__list-item">fourth</li>
  </ul>
</main>
