<div class="content">
    <%- partial("partials/_header") %>
        <main class="main">
            <div class="main__content">
                <div class="main__content-text">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </main>
        <aside>
            <div class="aside__img">
                <div class="aside__square">TEST</div>
            </div>
        </aside>
        <footer>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
			<polygon points="100 0 100 10 0 10" />
		</svg>
        </footer>
</div>
