.content {
  display: grid;
  grid-template: "h h h h" 6% "a a m m" auto "f f f f" 10% e("/") 1fr 2fr 1fr 1fr;
  font-family: "Helvetica";
  height: 100%;
  width: 100vw;
  background: @colors[white];
  color: @colors[bisel];

  .main {
    grid-area: m;
    background-color: @colors[main-color];
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10% 5%;
    // clip-path: polygon(0 0, 100% 0%, 100% 100%, 60% 100%);
    &__content {
      width: 60%;

      &-text {
        font-size: 5rem;
        line-height: 3.5rem;
        color: @colors[dark];
      }
    }
  }

  .about {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 10%;

    &__list-item {
      list-style: none;
      background: rgb(63, 187, 164);
      border-left: 4px solid rgb(208, 42, 111);
      margin-bottom: 1rem;
      padding: 1rem 5rem;
    }
  }
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  height: 50%;
  // width: 50%;
  //
  #map {
    height: 100%;
    width: 50%;
    z-index: -1;
  }
}
